
.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column-reverse;
    gap:60px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 70px;
}
.div1 {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(31, 45, 31);
  border-radius: 20px;
transition: 0.3s;

}
.div1:hover{
    opacity: 0.7;
    transform: scale(1.002);
     border: 2px solid rgb(32, 77, 32);
}


.div1 p{
text-align: center;
width: 50%;
display: block;
margin:auto;
color:rgb(255, 255, 255);
font-size: 18px;

}
img{
    width: 80%;
    height: 300px;
    object-fit: cover;
    object-position: center;
     border-radius: 19px;
     max-width: 500px;
}
#img1{
      border-top-right-radius: 150px;
}
#img3{
      border-top-right-radius: 150px;
}
#img2{
      border-top-left-radius: 150px;
}





