@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
body{
 background-color: rgba(23, 23, 23, 0.959);;
 scroll-behavior: smooth;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button{
    cursor: pointer;
}